.ca_quiz_container {
	padding-right: 10%;
}

.ca_quiz_container .hndle {
	cursor: default;
}

.ca_quiz_container .inside .ca_quiz_test_block > a {
	text-decoration: none;
	color: #444;
}

.ca_quiz_container .inside .ca_quiz_test_block > a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ca_quiz_container .inside .ca_quiz_test_block > a > span {
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	font-weight: 700;
}

.ca_quiz_container .inside .ca_quiz_test_block {
	width: 100%;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 20px;
	border-bottom: solid 1px #E5E5E5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.ca_quiz_container .inside .ca_quiz_test_block .ca_quiz_test_block_expand {
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	left: 0;
	top: 22px;
}

.ca_quiz_container .inside .ca_quiz_test_block .ca_quiz_test_block_expand:before {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: #444;
	position: absolute;
	left: 0;
	top: 4px;
}

.ca_quiz_container .inside .ca_quiz_test_block .ca_quiz_test_block_expand:after {
	content: '';
	display: block;
	width: 2px;
	height: 100%;
	background: #444;
	position: absolute;
	left: 4px;
	top: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.ca_quiz_container .inside .ca_quiz_test_block .ca_quiz_test_block_expand.ca_minus:after {
	height: 0;
	top: 5px;
}

.ca_quiz_test_contents > span {
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 80px;
	position: relative;
}

.ca_quiz_test_contents > span a {
	color: #444;
	text-decoration: none;
	line-height: 20px;
	display: inline-block;
	height: 20px;
	vertical-align: top;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.ca_quiz_test_contents > span a:hover {
	text-decoration: underline;
}

.ca_quiz_test_contents {
	overflow: hidden;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.ca_quiz_test_contents.ca_block_closed {
	opacity: 0;
	font-size: 0px;
	line-height: 0;
}

.ca_quiz_test_contents.ca_block_closed > span a {
	height: 0px;
	-webkit-background-size: 0 0;
	background-size: 0 0;
}

.ca_quiz_quiestion_up, .ca_quiz_quiestion_down, .ca_quiz_quiestion_delete {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url('../img/up.png');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	vertical-align: top;
	margin-right: 1em;
	position: absolute;
	left: 0;
	top: 7px;
	opacity: 0.7;
}

.ca_quiz_quiestion_down {
	background-image: url('../img/down.png');
	left: 25px;
}

.ca_quiz_quiestion_delete {
	background-image: url('../img/delete.png');
	left: 50px;
}

.ca_quizes_editor {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	font-size: 0;
	z-index: 1000;
}

.ca_quizes_editor.ca_close {
	display: none;
}

.ca_quizes_editor:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.ca_quizes_editor_holder {
	width: 50%;
	margin-left: 25%;
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	border: solid 1px #E5E5E5;
	border-radius: 3px;
	z-index: 1000;
	font-size: 1rem;
	position: relative;
	max-height: 95%;
	overflow: auto;
}

.ca_quizes_editor a.ca_quiz_edit_close {
	position: absolute;
	right: 25px;
	top: 25px;
	display: block;
	width: 10px;
	height: 10px;
	background: url('../img/close.png') center center no-repeat;
	-webkit-background-size: 10px 10px;
	background-size: 10px 10px;
}

.ca_quizes_editor form {
	width: 100%;
	height: 100%;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ca_quizes_editor form input {
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}

.ca_quizes_editor form input[type="button"], .ca_quiz_container .postbox .inside form input[type="submit"] {
	width: auto;
	padding: 5px 15px;
	background: #F7F7F7;
	border: solid 1px #E5E5E5;
	border-radius: 3px;
	color: #555;
	cursor: pointer;
	line-height: 1em;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-top: 1em;
}

.ca_quizes_editor form input[type="button"]:hover, .ca_quiz_container .postbox .inside form input[type="submit"]:hover {
	border-color: #989898;
}

.ca_quizes_editor form p {
	font-size: 16px;
	line-height: 20px;
	margin: 0.5em 0;
}

.ca_quizes_editor form p span {
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
	color: #aaa;
}

.ca_quizes_editor form textarea {
	width: 100%;
	height: 150px;
	overflow: scroll;
	white-space: pre;
}

.ca_quizes_preloader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	font-size: 0;
	text-align: center;
	z-index: 1;
}

.ca_quizes_preloader:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.ca_quizes_processing {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	font-size: 0;
	text-align: center;
	opacity: 0.7;
}

.ca_quizes_processing:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.ca_quizes_preloader .ca_quizes_preloader_spinner, .ca_quizes_processing .ca_quizes_preloader_spinner {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	height: 100px;
	background: url('../img/spin.gif') center center no-repeat;
}

.ca_quizes_preloader.ca_faded, .ca_quizes_processing.ca_faded {
	display: none;
}

.postbox-container {
	width: 100%;
}