.ca_quiz_introduction_form {
	width: 50%;
}
.ca_quiz_introduction_form input {
	margin-bottom: 0.5em;
}
.ca_quiz_answer {
	display: inline-block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.5em;
	border: solid 1px #ccc;
	border-radius: 5px;
	margin-bottom: 0.3em;
}
.ca_quiz_correct_answer {
	border-color: #4AAA0A;
	border-width: 2px;
}
.ca_quiz_wrong_answer {
	border-color: #BF0201;
	border-width: 2px;
}
.ca_quiz_correct_memo {
	color: #4aaa0a;
}
.ca_quiz_wrong_memo {
	color: #bf0201;
}
.ca_quiz_answer input {
	margin-right: 1em;
}
.ca_quiz_italic_underline {
	text-decoration: underline;
	font-style: italic;
}
.ca_quiz_green {
	color: #4aaa0a;
}
.ca_quiz_final_score form {
	margin-bottom: 0.5em;
}
.ca_quiz_final_score .ca_quiz_email_send {
	/*text-align: center;*/
}
.ca_quiz_final_score .ca_quiz_email_send input {
	margin-bottom: 0.5em;
}
.ca_quiz_email_results {
	margin: 0;
	color: #4aaa0a;
}