<div class="ca_quiz_introduction_form" ng-if="$ctrl.intro">
	<input type="text" ng-model="$ctrl.user.name" placeholder="Your name">
	<input type="text" ng-model="$ctrl.user.organisation" placeholder="Workplace (if applicable)">
	<input type="button" value="Enter quiz" ng-click="$ctrl.start_test()">
</div>
<div class="ca_quiz_test_body" ng-if="!$ctrl.intro && !$ctrl.final">
	<p><span>Question {{$ctrl.current.ang_id + 1}} of {{$ctrl.maxid + 1}}</span></p>
	<h3 ng-bind-html="$ctrl.current.question.title | htmloutput"></h3>
	<p>
		<span>Please choose an answer and confirm</span><br>
		<span ng-repeat="answer in $ctrl.current.question.answers" class="ca_quiz_answer{{ (($ctrl.show_correct) && (answer.correct == true)) ? ' ca_quiz_correct_answer' : '' }}{{ (($ctrl.show_wrong) && (answer.ang_id == $ctrl.current.answer)) ? ' ca_quiz_wrong_answer' : '' }}">
			<input type="radio" name="ca_quiz" ng-model="$ctrl.current.answer" value="{{answer.ang_id}}" ng-if="!$ctrl.show_correct && !$ctrl.show_wrong"> <span ng-bind-html="answer.name | htmloutput"></span><br>
		</span>
	</p>
	<p ng-if="$ctrl.show_correct" class="ca_quiz_correct_memo"><strong>That's right!</strong> (Attempts: {{$ctrl.user.attempt}})</p>
	<p ng-if="$ctrl.show_correct">
		<input type="button" value="Next Question" ng-click="$ctrl.next_question()">
	</p>
	<p ng-if="$ctrl.show_wrong" class="ca_quiz_wrong_memo"><strong>Sorry, that's wrong</strong> (Attempts: {{$ctrl.user.attempt}})</p>
	<p ng-if="$ctrl.show_wrong">
		<input type="button" value="Try Again" ng-click="$ctrl.answer_repeat()">
		<input type="button" value="Next Question" ng-click="$ctrl.next_question()">
	</p>
	<p ng-if="!$ctrl.show_correct && !$ctrl.show_wrong"><input type="button" value="Confirm" ng-click="$ctrl.answer_confirm($ctrl.current.answer)"></p>
</div>
<div class="ca_quiz_final_score" ng-if="$ctrl.final">
	<h3 class="ca_quiz_green">Congratulations! You have completed <span ng-bind-html="$ctrl.test_title | htmloutput"></span></h3>
	<p class="ca_quiz_green">Name: {{$ctrl.user.name}}<br/>
	Workplace: {{$ctrl.user.organisation}}</p>
	<h3>
		<span class="ca_quiz_italic_underline">Your Result:</span><br>
		{{$ctrl.user.score}} Correct Answers with {{$ctrl.user.attempt}} Attempts
	</h3>
	<p>
		<form action="" method="post" target=_blank>
			<input type="hidden" name="ca_quiz_pdf_generator" value="true">
			<input type="hidden" name="ca_quiz_pdf_test_name" value="{{$ctrl.test_title}}">
			<input type="hidden" name="ca_quiz_pdf_user_name" value="{{$ctrl.user.name}}">
			<input type="hidden" name="ca_quiz_pdf_user_workplace" value="{{$ctrl.user.organisation}}">
			<input type="hidden" name="ca_quiz_pdf_correct" value="{{$ctrl.user.score}}">
			<input type="hidden" name="ca_quiz_pdf_attempts" value="{{$ctrl.user.attempt}}">
			<input type="button" value="Try Again" ng-click="$ctrl.ca_quiz_restart_test()">
			<input type="submit" value="Download or print PDF">
		</form>
		<div class="ca_quiz_email_send">
			<p ng-if="$ctrl.email_sent" class="ca_quiz_email_results">Results have been sent to {{$ctrl.email_cache}}</p>
			<input type="text" ng-model="$ctrl.user.email" placeholder="Type your e-mail here"><br>
			<input type="button" value="Send result to your E-mail" ng-click="$ctrl.email_results()">
		</div>
	</p>
</div>