<div class="ca_quizes_preloader{{$ctrl.preloader ? '' : ' ca_faded'}}">
	<div class="ca_quizes_preloader_spinner"></div>
</div>
<div class="ca_quiz_test_filter ca_quiz_test_block">
	<p>Start typing test, question or answer name to filter:</p>
	<p><input type="text" ng-model="$ctrl.query"></p>
</div>
<div class="ca_quiz_test_block" ng-repeat="test in $ctrl.tests | filter:$ctrl.query">
	<a href="" class="ca_quiz_test_block_expand{{test.closed == ' ca_block_closed' ? '' : ' ca_minus'}}" ng-click="$ctrl.ca_toggle_block_closed(test.ang_id)"></a>
	<a href="" ng-click="$ctrl.ca_toggle_block_closed(test.ang_id)">
		<span ng-bind-html="test.title | htmloutput"></span>
	</a>
	<a href="" ng-click="$ctrl.ca_editor_edit_test(test.ang_id)">(Edit)</a>&nbsp;
	<a href="" ng-click="$ctrl.ca_delete_test(test.ang_id)">(Delete)</a>&nbsp;
	<span style="display: inline-block; width: auto;">The shortcode: [ca_quiz id={{test.id}}]</span>
	<div class="ca_quiz_test_contents{{test.closed}}">
		<span ng-repeat="question in test.questions">
			<a href="" ng-click="$ctrl.ca_move_question(true, test.ang_id, question.ang_id)" class="ca_quiz_quiestion_up"></a>
			<a href="" ng-click="$ctrl.ca_move_question(false, test.ang_id, question.ang_id)" class="ca_quiz_quiestion_down"></a>
			<a href="" ng-click="$ctrl.ca_delete_question(test.ang_id, question.ang_id)" class="ca_quiz_quiestion_delete"></a>
			<a href="" ng-click="$ctrl.ca_open_quiz_editor(test.ang_id, question.ang_id)"><span ng-bind-html="question.title | htmloutput"></span> <!--({{question.id}}) ({{question.order_val}} {{question.ang_id}})--></a>
		</span>
		<span>
			<a href="" ng-click="$ctrl.ca_editor_create_question(test.ang_id)">Create question...</a>
		</span>
	</div>
</div>
<div class="ca_quiz_test_block">
	<a href="" class="ca_quiz_create_test" ng-click="$ctrl.ca_editor_create_test()">Create test...</a>
</div>
<div class="ca_quizes_processing{{$ctrl.processing_data ? '' : ' ca_faded'}}">
	<div class="ca_quizes_preloader_spinner"></div>
</div>
<div class="ca_quizes_editor{{$ctrl.editor_state ? '' : ' ca_close'}}">
	<div class="ca_quizes_editor_holder">
		<a href="" class="ca_quiz_edit_close" ng_click="$ctrl.ca_close_quiz_editor()"></a>
		<form action="?ca_quiz_edit=1" method="post">
			<p ng-if="$ctrl.editor_new_question"><strong>For test: {{$ctrl.tests[$ctrl.editor_tid].title}}</strong></p>
			<p ng-if="!$ctrl.editor_new_test && !$ctrl.editor_edit_test">Question:</p>
			<p ng-if="$ctrl.editor_new_test || $ctrl.editor_edit_test">Test name:</p>
			<input type="text" name="ca_quiz_name" trusted-html ng-model="$ctrl.ca_editor.title">
			<p ng-if="!$ctrl.editor_new_test && !$ctrl.editor_edit_test">Answers:</p>
			<p ng-if="!$ctrl.editor_new_test && !$ctrl.editor_edit_test"><span>Put every answer on separate line, mark correct answer with * symbol. Otherwise, first answer will be counted as correct.</span></p>
			<textarea name="ca_quiz_answers" trusted-html ng-model="$ctrl.ca_editor.answers" ng-if="!$ctrl.editor_new_test && !$ctrl.editor_edit_test"></textarea>
			<input type="button" value="Edit question" ng-if="!$ctrl.editor_new_question && !$ctrl.editor_new_test && !$ctrl.editor_edit_test" ng-click="$ctrl.ca_edit_question($ctrl.editor_tid, $ctrl.editor_qid)">
			<input type="button" value="Create question" ng-if="$ctrl.editor_new_question && !$ctrl.editor_new_test" ng-click="$ctrl.ca_create_new_question($ctrl.editor_tid)">
			<input type="button" value="Create test" ng-if="$ctrl.editor_new_test && !$ctrl.editor_new_question" ng-click="$ctrl.ca_create_new_test()">
			<input type="button" value="Edit test" ng-if="$ctrl.editor_edit_test && !$ctrl.editor_new_question && !$ctrl.editor_new_test" ng-click="$ctrl.ca_edit_test($ctrl.editor_tid)">
		</form>
	</div>
</div>